<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-5">
            <div class="col-md-5 mx-auto">
                <h2 class="text-center my-3">Добавить студента</h2>
                <form action="/addStudent" method="post">
                    <div class="row">
                        <div class="mb-3 col-sm-6">
                            <label class="form-label">Фамилия</label>
                            <input name="lastname" type="text" class="form-control" placeholder="Фамилия">
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label">Имя</label>
                            <input name="name" type="text" class="form-control" placeholder="Имя">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Группа</label>
                        <input name="stream_group" type="text" class="form-control" placeholder="Группа">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Дата поступления</label>
                        <input name="date" type="date" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label"></label>
                        <input type="submit" class="form-control btn btn-primary" value="Добавить">
                    </div>
                </form>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>